# dependencies
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# production
build
dist
.next
out

# misc
.DS_Store
*.pem
*.key
*.crt

# env files (these should be managed via Aptible env vars)
.env
.env.*.local

# editor / OS
.vscode
.idea
*.swp
*.swo

# git
.git
.gitignore


Fuse Patient Portal UI